#navbg {
    background-color: rgb(228, 226, 226);
}
#customers-search-container-css {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#cutomer-search-css {
    width: 95%;
    margin-left: 65px;
}
/* #customer-table-css {

} */

/* .nav-icon-css {
    padding: -8px;
} */