    {{!-- div tags may be miss aligned --}}
    
    <section id="customers-search-container-css" class="container">
      <h1 class="text-center mt-3">Customers</h1>
      <div class="d-flex flex-row justify-content-end align-content-end mb-3">
        <div id="cutomer-search-css" class="input-group">
          <div class="form-outline">
            <input type="search" id="form1" class="form-control" />
          </div>
          <button type="button" class="btn btn-primary">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between p-md-1">
            <div class="align-self-center shadow-sm rounded">
              <a class="btn btn-light" href="tel:713-992-0916">
                <h3>Thomas FakeName</h3>
              </a>
            </div>
            <div class="align-self-center shadow-sm rounded">
              <a class="btn btn-primary" href="tel:713-992-0916">
                <i class="bi bi-telephone"></i>
              </a>
            </div>
            <div class="align-self-center shadow-sm">
              <a class="btn btn-primary" href="tel:713-992-0916">
                <i class="bi bi-envelope"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>