<section id="individual_customer-container-css" class="container">
      <h1 class="text-center mt-3">Thomas FakeName</h1>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Contact<i class="ms-2 border border-1 rounded shadow bi bi-pen p-1"></i></button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Invoices <i class="ms-2border border-1 rounded shadow bi bi-plus p-1"></i></button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Proposals<i class=" ms-2 border border-1 rounded shadow bi bi-plus p-1"></i></button>
        </li>
      </ul>
      <div class="tab-content " id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
          <table id="customer-table-css" class=" table table-striped mw-8" aria-labelledby="dropdownMenuButton1">

            <tbody class="">
              <thead>
              <tr class="text-center">
                <th scope="row">Company:</th>
                <td>Some Company</td>
              </tr>
            </thead>
              <tr class="">
                <th scope="row">Phone 1</th>
                <td>267-879-6116</td>
                <td class=""><i class="bi btn btn-success bi-telephone"></i></td>
              </tr>
              <tr>
                <th scope="row">Phone 2</th>
                <td>267-879-6116</td>
                <td class=""><i class="bi btn btn-success bi-telephone"></i></td>
              </tr>
              <tr>
                <th scope="row">Email 1</th>
                <td>267-879-6116</td>
                <td class=""><i class="bi btn btn-success bi-envelope"></i></td>
              </tr>
              <tr>
                <th scope="row">Email 2</th>
                <td>267-879-6116</td>
                <td class=""><i class="bi btn btn-success bi-envelope"></i></td>
              </tr>
              <tr>
                <th scope="row">Address</th>
                <td>509 E. Mill Rd</td>
                <td class=""><i class="bi btn btn-success bi-arrow-up-right-circle"></i></td>
              </tr>
              
              
            </tbody>
          </table>
        </div>
        <!-- start of invoice tab for individual client -->
        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
          <table id="customer-table-css" class=" table table-striped mw-8" aria-labelledby="dropdownMenuButton1">
            <!-- Job Name,  Invoice Date, Billing Info, Is Paid -->

            <tbody class="">
              <thead>
              <tr class="text-center">
                <th scope="row">Date</th>
                <th scope="row">Amount</th>
                <th scope="row">Paid</th>
              </tr>
            </thead>
              <tr class="">
                <td>02/10/1953</td>
                <td>$10,000</td>
                <td class=""><i class="bi is_paid_button_css bi-check"></i></td>
              </tr>
              <tr class="">
                <td>02/10/1953</td>
                <td>$10,000</td>
                <td class=""><i class="bi is_not_paid_button_css bi-exclamation"></i></td>
              </tr>
              <tr class="">
                <td>02/10/1953</td>
                <td>$10,000</td>
                <td class=""><i class="bi is_paid_button_css bi-check"></i></td>
              </tr>
              <tr class="">
                <td>02/10/1953</td>
                <td>$10,000</td>
                <td class=""><i class="bi is_not_paid_button_css bi-exclamation"></i></td>
              </tr>
              
              
            </tbody>
          </table>
        </div>

        <!-- Start of proposals tab for individual clients -->
        <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
          <!-- Job Name, Proposal Date, Job Location, Date of Plans, Payment Terms, Propsal Text, Roofing (y/n),  -->
          <table id="customer-table-css" class=" table table-striped mw-8" aria-labelledby="dropdownMenuButton1">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Date</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Proposal Name</th>
                <td>267-879-6116</td>
                <td>267-879-6116</td>
              </tr>
              <tr>
                <th scope="row">Proposal Name</th>
                <td>267-879-6116</td>
                <td>267-879-6116</td>
              </tr>
              <tr>
                <th scope="row">Proposal Name</th>
                <td>267-879-6116</td>
                <td>267-879-6116</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


    </section>