{{!-- may contain more than just new proposal ui --}}

 <!-- Start Modal for pop up to add new proposal-->
    <!-- ***********!!!!!!!!!!! NEEDS TO BE DONE! customer name, date, location, Terms, proposal text -should be list of items with text and amount -->
    <div
      class="modal fade"
      id="newProposalModal"
      tabindex="-1"
      aria-labelledby="newProposalModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="newProposalModalLabel">New Proposal</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group row">
                <label
                  for="new_proposal_customer_name"
                  class="col-sm-2 col-form-label"
                  >Customer</label
                >
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    id="new_proposal_customer_name"
                    placeholder="equip with autocompelte from client list"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label for="new_proposal_date" class="col-sm-2 col-form-label"
                  >Date</label
                >
                <div class="col-sm-10">
                  <input
                    type="date"
                    class="form-control"
                    id="new_proposal_date"
                    placeholder="MM/DD/YYYY"
                    onfocus="(this.type='date')"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label for="new_proposal_amount" class="col-sm-2 col-form-label"
                  >Amount</label
                >
                <div class="col-sm-10">
                  <input
                    type="number"
                    class="form-control"
                    id="new_proposal_amount"
                    placeholder="$0.00"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label
                  for="new_proposal_location"
                  class="col-sm-2 col-form-label"
                  >Location</label
                >
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    id="new_proposal_location"
                    placeholder="equip with autocompelte from client list"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label for="new_proposal_terms" class="col-sm-2 col-form-label"
                  >Terms</label
                >
                <div class="col-sm-10">
                  <select
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option selected>In full upon completion</option>
                    <option value="2">1/2 Start 1/2 Finish</option>
                    <option value="3">Net45</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <div class="form-group d-flex justify-content-around">
                  <button class="btn btn-primary mt-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#newProposalOffcanvas" aria-controls="newProposalOffcanvas">
                    Add Proposal Text
                  </button>
                  <button class="btn btn-primary mt-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#newProposalOffcanvas" aria-controls="newProposalOffcanvas">
                    Edit Proposal Text
                  </button>
                </div>
                
              </div>
            </form>
          </div>
<!-- *** Start of proposal offcanvas itimized list html *** -->
          <div class="offcanvas offcanvas-start" tabindex="-1" id="newProposalOffcanvas" aria-labelledby="newProposalOffcanvasLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="newProposalOffcanvasLabel">Proposal Text</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            
            <div class="offcanvas-body container w-90 h-100 d-flex flex-column justify-content-center">
              
                <textarea  class="w-100 h-75 mt-1 p-0" name="proposal_text" id="proposal_text" cols="30" rows="10" placeholder="Roofing Work: .... "></textarea>
                <button type="button" class="btn btn-success w-25 mt-3 mx-auto">
                  Save <i class="bi bi-save"></i>
                </button>

            </div>

          </div>

            <!-- *** End of proposal offcanvas itimized list html *** -->

         

          <div class="modal-footer d-flex justify-content-around">

            <button type="button" class="btn btn-primary">Create</button>
            <button type="button" class="btn btn-primary">
               <i class="bi bi-envelope"></i>
            </button>
            <button type="button" class="btn btn-primary">
              <i class="bi bi-printer"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

<!-- End of Modal for new proposal -->

<!-- Start of main agg proposals page -->

