<section id="agg_proposal-container-css" class="container">
      <h1 class="text-center mt-3">Proposals <i class="bi btn btn-success bi-plus ms-2 shadow"></i></h1>
          <!-- Start of proposals tab for individual clients -->
            <!-- Job Name, Proposal Date, Job Location, Date of Plans, Payment Terms, Propsal Text, Roofing (y/n),  -->
            <table id="customer-table-css" class=" table table-striped mw-8" aria-labelledby="dropdownMenuButton1">
              <thead>
                <tr>
                  <th scope="col">Job</th>
                  <th scope="col">Customer</th>
                  <th scope="col">Date</th>
                  <th scope="col">Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Proposal Name</th>
                  <td>John FakeName</td>
                  <td>267-879-6116</td>
                  <td>267-879-6116</td>
                </tr>
                <tr>
                  <th scope="row">Proposal Name</th>
                  <td>John FakeName</td>
                  <td>267-879-6116</td>
                  <td>267-879-6116</td>
                </tr>                <tr>
                  <th scope="row">Proposal Name</th>
                  <td>John FakeName</td>
                  <td>267-879-6116</td>
                  <td>267-879-6116</td>
                </tr>
              </tbody>
            </table>

    </section>